:root {
  --bg: #f5f5dc;
  --text: #333333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
  color: var(--text);
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  /* background-color: #dad0c8; */
  width: 1530px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
