.container {
  background-color: #6b4226;
  height: 100px;
  width: 1175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 40px;
  font-weight: 500;
  color: #fffdd0;
}
